<a href="https://colab.research.google.com/github/adityakrishnagurrapu/2216186aimlbootcamp2023/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#####1. Methods of strings

In [ ]:
name="aditya krishna"
print(name.capitalize())
print(name.count('a'))
print(name.endswith('e'))
print(name.find('d'))
print(name.title())
print(name.index('a',2,10))
print(name.isalpha())

Aditya krishna
3
False
1
Aditya Krishna
5
False

#####2. Methods of list

In [ ]:
num=[10, 11, 13, 14, 15]
print(num)
print(len(num))
num.append('16')
print(num)
num.insert(2,12)
print(num)
num1=[1, 2, 3]
num.extend(num1)
print(num)
num.remove(11)
print(num)
num.pop(0)
print(num)
del num[6]
print(num)
num.reverse()
print(num)
num.clear()
print(num)

[10, 11, 13, 14, 15]
5
[10, 11, 13, 14, 15, '16']
[10, 11, 12, 13, 14, 15, '16']
[10, 11, 12, 13, 14, 15, '16', 1, 2, 3]
[10, 12, 13, 14, 15, '16', 1, 2, 3]
[12, 13, 14, 15, '16', 1, 2, 3]
[12, 13, 14, 15, '16', 1, 3]
[3, 1, '16', 15, 14, 13, 12]
[]

#####3. Methods of tuple

In [ ]:
t=('chair','key','car','chair')
print(t)
print(len(t))
y=('fan',)
t+=y
print(t)
x=t.count('chair')
print(x)
z=t.index('key')
print(z)

('chair', 'key', 'car', 'chair')
4
('chair', 'key', 'car', 'chair', 'fan')
2
1

#####4. Methods of dictionary

In [19]:
d={"name":"grad","surname":"gurrapu","no":20010}
print(d)
d.update({'year':2000})
print(d)
x=d.get("name")
print(x)
y=d.items()
print(y)
z=d.values()
print(z)
d.pop("surname")
print(d)
d.popitem()
print(d)
d.clear()
print(d)

{'name': 'grad', 'surname': 'gurrapu', 'no': 20010}
{'name': 'grad', 'surname': 'gurrapu', 'no': 20010, 'year': 2000}
grad
dict_items([('name', 'grad'), ('surname', 'gurrapu'), ('no', 20010), ('year', 2000)])
dict_values(['grad', 'gurrapu', 20010, 2000])
{'name': 'grad', 'no': 20010, 'year': 2000}
{'name': 'grad', 'no': 20010}
{}

#####5. Methods of sets

In [ ]:
s1={5,6,7,8,9,10}
s2={1,2,3,4,5,6}
s1|s2
print(s1.union(s2))
s1&s2
print(s1.intersection(s2))
print(s1.difference(s2))
s1^s2
print(s1.issubset(s2))
s1.add(9)
print(s1)
s3=s1.copy()
print(s3)
s2.pop()
print(s2)
s2.remove(6)
print(s2)
s4={19,18,17}
s1.update(s4)
print(s1)
s1.discard(6)
print(s1)
s1.clear()
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{5, 6}
{8, 9, 10, 7}
False
{5, 6, 7, 8, 9, 10}
{5, 6, 7, 8, 9, 10}
{2, 3, 4, 5, 6}
{2, 3, 4, 5}
{5, 6, 7, 8, 9, 10, 17, 18, 19}
{5, 7, 8, 9, 10, 17, 18, 19}
set()

#####6. Decimal to Binary, Octal and Hexadecimal conversion with direct method.

In [ ]:
n = int(input("Enter an integer: "))
print("The decimal value of", n, "is:\n", bin(n), "in binary\n", oct(n), "in octal\n", hex(n), "in hexadecimal.")

Enter an integer: 6
The decimal value of 6 is:
 0b110 in binary
 0o6 in octal
 0x6 in hexadecimal.

#####7. Arthmetic operators

In [ ]:
a=int(input("Enter first integer:"))
b=int(input("Enter second integer:"))
print("sum of ",a,"and",b,"is",(a+b))
print("subtraction of",a,"and",b,"is",(a-b))
print("multiplication of",a,"and",b,"is",(a*b))
print("division of",a,"and",b,"is",(a/b))
print("modulus of",a,"and",b,"is",(a%b))
print("floor division of",a,"and",b,"is",(a//b))
print("power of",a,"and",b,"is",(a**b))

Enter first integer:5
Enter second integer:6
sum of  5 and 6 is 11
subtraction of 5 and 6 is -1
multiplication of 5 and 6 is 30
division of 5 and 6 is 0.8333333333333334
modulus of 5 and 6 is 5
floor division of 5 and 6 is 0
power of 5 and 6 is 15625

#####8. Assignment operators

In [ ]:
a=int(input("Enter first integer:"))
b=int(input("Enter second integer:"))
a+=b
print(a)
a-=b
print(a)
a*=b
print(a)
a/=b
print(a)
a**=b
print(a)
a//=b
print(a)
a%=b
print(a)

Enter first integer:7
Enter second integer:5
12
7
35
7.0
16807.0
3361.0
1.0

#####9. Comparision operators

In [ ]:
a=int(input("Enter first integer:"))
b=int(input("Enter second integer:"))
print((a<b))
print((a<=b))
print((a>b))
print((a>=b))
print((a==b))
print((a!=b))

Enter first integer:9
Enter second integer:5
False
False
True
True
False
True

#####10. Logical operators

In [ ]:
a=int(input("Enter first integer:"))
a=int(input("Enter second integer:"))
print((a>b)and(a<b))
print((a<b)or(a>b))
print(not(a!=b))

Enter first integer:9
Enter second integer:6
False
True
False

#####11. Bitwise operators

In [ ]:
a=int(input("Enter first integer:"))
b=int(input("Enter second integer:"))
print(a&b)
print(a/b)
print(a^b)
print(a<<4)
print(a>>1)
print(b<<2)

Enter first integer:4
Enter second integer:7
4
0.5714285714285714
3
64
2
28

#####12. Membership operators

In [ ]:
x="aditya"
print('a' in x)
print('s' not in x)

True
True

#####13. Indexing operators

In [ ]:
a=10
b=20
c=10
print(a is c)
print(a is not b)

True
True

#####14. List slicing indexing

In [ ]:
l=[1,2,3,4,5,6,7,8,9]
print(l[-7::1])
print(l[1:4])
print(l[1:2:8])
print(l[::2])
print(l[::])

[3, 4, 5, 6, 7, 8, 9]
[2, 3, 4]
[2]
[1, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

#####15. Predict the output for the given code snippet and justify the result.

In [ ]:
print('A series of characters designated as one object known as a string'[::-1][4::3])
print("-----------")
print('Welcome to python traing program'[3:10][::-1])

taawkcbe  tgestrcoeeA
-----------
ot emoc

#####16.

In [ ]:
inp=input("Enter a string:")
print(inp[::-1].upper())

Enter a string:5
5

#####17. You are required to generate a word similar to ZOO, X and Y that denote the number of Zs and Os respectively. The generated word similar to ZOO where Y= 2 * X. 
######Input X= 2 Output ZZOOOO 
######Input X= 5 Output ZZZZZOOOOOOOOOO

In [ ]:
x=int(input('Enter X:'))
print(x*'Z'+ 2*x*'O')

Enter X:8
ZZZZZZZZOOOOOOOOOOOOOOOO